:host {
  background: #fff; 
  padding: 24px;
  display: block;
  margin: 10px;
  height: 90vh;
  overflow-y: auto;
}

.headerContainer {
  display: flex;
  align-items: center;
  // font-size: 16px;
  justify-content: space-between;
  // padding: 10px;
  margin-bottom: 10px;
  background: #fff;
}