<nz-content>
    <nz-tabset nzSelectedIndex="0">
        <ng-container *ngFor="let tab of tabs.data">
            <nz-tab nzTitle="{{tab.tabName}}">
                <ng-container *ngIf="tab.tabName == 'Details'">

                    <nz-descriptions nzTitle="Candidate Details" nzBordered>
                        <nz-descriptions-item nzTitle="Name"><strong>{{ tab.containt.name
                                }}</strong></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Email">{{tab.containt.email}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Mobile">{{tab.containt.mobile }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Interview Time" [nzSpan]="2">
                            {{tab.containt.interviewDate | date:'MMM d, y, h:mm a'}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Other Number">{{tab.containt.otherNumber}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="qualification" [nzSpan]="3">{{tab.containt.qualification |
                            uppercase}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Skills">
                            <ng-container *ngFor="let skill of tab.containt.skills">
                                <span nz-icon nzType="tags" nzTheme="twotone"></span> {{skill}}
                                <br />
                            </ng-container>
                        </nz-descriptions-item>
                    </nz-descriptions>
                </ng-container>

                <ng-container *ngIf="tab.tabName == 'Job Discriton'">
                    <nz-descriptions nzTitle="Requirement Details " nzBordered>
                        <nz-descriptions-item nzTitle="Purpouse" [nzSpan]="3">{{ tab.containt.purpouse
                            }}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Role & Responsiblity"
                            [nzSpan]="3">{{tab.containt.roleResponsiblity}}</nz-descriptions-item>
                    </nz-descriptions>
                </ng-container>

                <ng-container *ngIf="tab.tabName == 'Assessment Scores'">
                    <ng-container *ngIf="isLoading">
                        <nz-spin nzTip="Loading...">
                            <nz-alert nzType="info" nzMessage="Please Wait"
                                nzDescription="Feedback form will display here."></nz-alert>
                        </nz-spin>
                    </ng-container>

                    <ng-container *ngIf="!isLoading">
                        <div class="headerContainer">
                            <h4 nz-typography> <strong>Feedback Form </strong>
                            </h4>
                            <div>
                                <button nz-button nzType="dashed" nzSize="large" style="margin-right: 1em;"
                                [disabled]="!scoreCardForm.valid" (click)="submitScores()">Edit</button>
                                <button nz-button nzType="primary" nzSize="large"
                                [disabled]="!scoreCardForm.valid" (click)="submitScores()">Submit</button>
                            </div>
                        </div>
                        <form [formGroup]="scoreCardForm">
                            <ng-container formArrayName="scoreDetails">
                                <ng-container *ngFor="let item of scoreDetails.controls;index as i">

                                    <div formGroupName="{{i}}" style="margin-bottom: 1em;">
                                        <nz-card style="width:100%;" nzType="inner" nzSize="small"
                                            nzTitle="{{scoreCardForm.value.scoreDetails[i].skillName}}"
                                            [nzExtra]="extraTemplate">
                                            <textarea rows="3" formControlName="comment" nz-input
                                                placeholder="Your Feedback"></textarea>
                                        </nz-card>
                                        <ng-template #extraTemplate>
                                            <span *ngIf="scoreCardForm.value.scoreDetails[i].score"
                                                class="ant-rate-text">
                                                <i *ngIf="scoreCardForm.value.scoreDetails[i].skillName != 'Over ALL Score'"> 
                                                    {{ scoreCardForm.value.scoreDetails[i].score ?
                                                    tooltips[scoreCardForm.value.scoreDetails[i].score - 1] : ''
                                                    }}</i>

                                                <p *ngIf="scoreCardForm.value.scoreDetails[i].skillName == 'Over ALL Score'">
                                                    {{ scoreCardForm.value.scoreDetails[i].score ?
                                                    tooltipEmoji[scoreCardForm.value.scoreDetails[i].score - 1] : ''
                                                    }}</p>
                                                </span>
                                            <nz-rate [nzAllowClear]="false" formControlName="score" [nzTooltips]="scoreCardForm.value.scoreDetails[i].skillName != 'Over ALL Score' ? tooltips : []" [nzDisabled]="scoreCardForm.value.scoreDetails[i].skillName == 'Over ALL Score' ? true : false"
                                            (ngModelChange)="reCalculatedScore(scoreCardForm.value.scoreDetails[i].skillName)"></nz-rate>
                                        </ng-template>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </form>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="tab.tabName == 'Resume'">
                    <ng-container *ngIf="!resumeBase64Data">
                        <nz-spin nzTip="Loading...">
                            <nz-alert nzType="info" nzMessage="Please Wait"
                                nzDescription="Resume will display here."></nz-alert>
                        </nz-spin>
                    </ng-container>
                    <div class="headerContainer">
                        <h4 nz-typography> <strong>Candidate's Resume</strong>
                        </h4>
                        <button nz-button nzType="dashed" nzSize="large" style="margin-right: 1em;" (click)="downloadResume()">Download</button>
                    </div>
                     <div id="outerContainer" *ngIf="resumeBase64Data">
                        <div class="pdf-container">
                          <pdf-viewer
                            [src]="resumeBase64Data"
                            [rotation]="0"
                            [original-size]="false"
                            [show-all]="true"
                            [fit-to-page]="true" 
                            [render-text]="true" 
                            [autoresize]="true"
                            [show-borders]="false"
                          ></pdf-viewer>
                        </div>
                      </div>
                </ng-container>
            </nz-tab>
        </ng-container>
    </nz-tabset>
</nz-content>