<nz-content>
<h2 nz-typography class="textHeading">Your Dashborad</h2>
<div class="cardHeading">
  <nz-card [nzBordered]="false" nzTitle="Up Comming Interviews" [nzExtra]="extraTemplate">
    <p>Card content</p>
    <p>Card content</p>
 
    <p>Card content</p>
  </nz-card>
</div>
<ng-template #extraTemplate>
  <a style="color: #1890ff" nz-button nz-dropdown nzType="text" [nzDropdownMenu]="menu3" nzPlacement="bottomRight">More
  </a>
  <nz-dropdown-menu #menu3="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>Old Interviews</li>
      <li nz-menu-item>All Interviews</li>
    </ul>
  </nz-dropdown-menu>

</ng-template>

<div class="cardHeading">
  <nz-card [nzBordered]="true" nzTitle="Internal Job Posting">
  </nz-card>
</div>
</nz-content>